# Python Project Dataset:IPL

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("C:/Users/KUNAL/OneDrive/Desktop/IPL_Data_analysis/IPL_Dataset.csv")

In [3]:
df1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [4]:
# What is the total number of runs scored by each batting team?

In [5]:
team_runs=df1.groupby('batting_team')['total_runs'].sum()

In [6]:
team_runs

batting_team
Chennai Super Kings            20899
Deccan Chargers                11463
Delhi Daredevils               21953
Gujarat Lions                   4862
Kings XI Punjab                23068
Kochi Tuskers Kerala            1901
Kolkata Knight Riders          21965
Mumbai Indians                 24521
Pune Warriors                   6358
Rajasthan Royals               17703
Rising Pune Supergiant          2470
Rising Pune Supergiants         2063
Royal Challengers Bangalore    23436
Sunrisers Hyderabad            11652
Name: total_runs, dtype: int64

In [7]:
# How many wides have been bowled by each bowling team?

In [8]:
wides_bowled = df1[df1['wide_runs'] > 0].groupby('bowling_team')['wide_runs'].sum()

In [9]:
wides_bowled

bowling_team
Chennai Super Kings            526
Deccan Chargers                328
Delhi Daredevils               614
Gujarat Lions                  107
Kings XI Punjab                668
Kochi Tuskers Kerala            56
Kolkata Knight Riders          658
Mumbai Indians                 786
Pune Warriors                  174
Rajasthan Royals               586
Rising Pune Supergiant          69
Rising Pune Supergiants         77
Royal Challengers Bangalore    725
Sunrisers Hyderabad            268
Name: wide_runs, dtype: int64

In [10]:
# What is the average number of runs scored per inning by each team?

In [11]:
average_runs_per_inning = df1.groupby(['batting_team', 'match_id'])['total_runs'].sum().groupby('batting_team').mean()

In [12]:
average_runs_per_inning

batting_team
Chennai Super Kings            159.534351
Deccan Chargers                152.840000
Delhi Daredevils               149.340136
Gujarat Lions                  162.066667
Kings XI Punjab                155.864865
Kochi Tuskers Kerala           135.785714
Kolkata Knight Riders          148.412162
Mumbai Indians                 156.184713
Pune Warriors                  141.288889
Rajasthan Royals               151.307692
Rising Pune Supergiant         154.375000
Rising Pune Supergiants        147.357143
Royal Challengers Bangalore    154.184211
Sunrisers Hyderabad            153.315789
Name: total_runs, dtype: float64

In [13]:
# Which batsman has scored the highest number of runs?

In [14]:
batsman_runs = df1.groupby('batsman')['batsman_runs'].sum()

In [15]:
top_batsman = batsman_runs.idxmax()

In [16]:
top_batsman_runs = batsman_runs.max()

In [17]:
top_batsman, top_batsman_runs

('SK Raina', 4548)

In [18]:
# How many dismissals have occurred of each dismissal kind?

In [19]:
dismissal_counts = df1['dismissal_kind'].value_counts()

In [20]:
dismissal_counts

dismissal_kind
caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
retired hurt                9
hit wicket                  9
obstructing the field       1
Name: count, dtype: int64

In [21]:
# What is the total runs scored by each over?

In [22]:
runs_per_over = df1.groupby('over')['total_runs'].sum()

In [23]:
runs_per_over

over
1      7733
2      8993
3      9852
4     10207
5     10227
6     10397
7      8413
8      8966
9      9247
10     9047
11     9456
12     9694
13     9713
14     9900
15    10240
16    10397
17    10817
18    10899
19    10469
20     9647
Name: total_runs, dtype: int64

In [24]:
# Which bowler has taken the most wickets?

In [25]:
wickets_taken = df1[df1['dismissal_kind'].notnull() & (df1['dismissal_kind'] != 'run out')].groupby('bowler')['dismissal_kind'].count()

In [26]:
top_bowler = wickets_taken.idxmax()

In [27]:
top_wickets = wickets_taken.max()

In [28]:
top_bowler,top_wickets

('SL Malinga', 154)

In [29]:
# How many super overs have been played in total?

In [30]:
super_overs = df1[df1['over'] > 20].groupby('match_id').ngroups

In [31]:
super_overs

0

In [32]:
# What is the average number of extras (wide runs, bye runs, legbye runs, noball runs, penalty runs) conceded per inning by each bowling team?

In [33]:
extras_cols = ['wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs']
df1['total_extras'] = df1[extras_cols].sum(axis=1)

In [34]:
average_extras_per_inning = df1.groupby(['bowling_team', 'match_id'])['total_extras'].sum().groupby('bowling_team').mean()
average_extras_per_inning

bowling_team
Chennai Super Kings            7.648855
Deccan Chargers                8.786667
Delhi Daredevils               8.130137
Gujarat Lions                  6.266667
Kings XI Punjab                8.310811
Kochi Tuskers Kerala           7.857143
Kolkata Knight Riders          8.135135
Mumbai Indians                 8.898089
Pune Warriors                  7.282609
Rajasthan Royals               8.966102
Rising Pune Supergiant         6.937500
Rising Pune Supergiants        7.714286
Royal Challengers Bangalore    8.668874
Sunrisers Hyderabad            6.407895
Name: total_extras, dtype: float64

In [35]:
# How many runs have been scored by each batsman-bowler pair?

In [36]:
batsman_bowler_runs = df1.groupby(['batsman', 'bowler'])['batsman_runs'].sum()

In [37]:
batsman_bowler_runs

batsman         bowler
A Ashish Reddy  A Nehra             7
                AB Dinda            9
                AD Mathews         25
                AD Russell          4
                Anureet Singh       2
                                   ..
Z Khan          SR Watson           3
                Shakib Al Hasan     3
                Sohail Tanvir       3
                VRV Singh           0
                YK Pathan           1
Name: batsman_runs, Length: 17151, dtype: int64

In [38]:
# What is the most common dismissal kind?

In [39]:
most_common_dismissal = df1['dismissal_kind'].value_counts().idxmax()

In [40]:
most_common_dismissal

'caught'

In [41]:
# How many matches have been played by each batting team?

In [42]:
matches_played = df1.groupby('batting_team')['match_id'].nunique()

In [43]:
matches_played

batting_team
Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               147
Gujarat Lions                   30
Kings XI Punjab                148
Kochi Tuskers Kerala            14
Kolkata Knight Riders          148
Mumbai Indians                 157
Pune Warriors                   45
Rajasthan Royals               117
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    152
Sunrisers Hyderabad             76
Name: match_id, dtype: int64

In [44]:
# What is the average number of runs scored in each over?

In [45]:
average_runs_per_over = df1.groupby('over')['total_runs'].mean()

In [46]:
average_runs_per_over

over
1     0.955635
2     1.121601
3     1.242057
4     1.291698
5     1.298832
6     1.321933
7     1.074869
8     1.149635
9     1.189325
10    1.170981
11    1.233177
12    1.269347
13    1.275509
14    1.313694
15    1.373206
16    1.418031
17    1.495300
18    1.561685
19    1.600031
20    1.707736
Name: total_runs, dtype: float64

In [47]:
# Which fielder has been involved in the most dismissals?

In [48]:
fielder_dismissals = df1['fielder'].value_counts()

In [49]:
top_fielder = fielder_dismissals.idxmax()

In [50]:
top_fielder_dismissals = fielder_dismissals.max()

In [51]:
top_fielder, top_fielder_dismissals

('KD Karthik', 127)

In [52]:
# How does the number of runs scored vary with the over number?

In [53]:
runs_per_over_variation = df1.groupby('over')['total_runs'].sum()

In [54]:
runs_per_over_variation

over
1      7733
2      8993
3      9852
4     10207
5     10227
6     10397
7      8413
8      8966
9      9247
10     9047
11     9456
12     9694
13     9713
14     9900
15    10240
16    10397
17    10817
18    10899
19    10469
20     9647
Name: total_runs, dtype: int64

In [55]:
# Interpretation: The number of runs scored generally tends to increase as the over number progresses, with higher scoring rates often seen in the final overs of an inning.

In [56]:
# how is the relationship between the number of runs scored and the number of extras conceded?

In [57]:
correlation_runs_extras = df1[['total_runs', 'total_extras']].corr()

In [58]:
correlation_runs_extras

              total_runs  total_extras
total_runs      1.000000      0.078085
total_extras    0.078085      1.000000

In [59]:
# Interpretation : The number of runs scored and the number of extras conceded generally show a positive correlation, indicating that higher extra runs typically accompany higher total runs scored in an inning

In [60]:
# Are there any notable trends in the distribution of runs scored by batting teams across innings?

In [61]:
runs_distribution = df1.groupby(['batting_team', 'inning'])['total_runs'].sum()

In [62]:
runs_distribution

batting_team                 inning
Chennai Super Kings          1         12693
                             2          8197
                             3             9
Deccan Chargers              1          6765
                             2          4698
Delhi Daredevils             1          9625
                             2         12317
                             4            11
Gujarat Lions                1          2267
                             2          2589
                             4             6
Kings XI Punjab              1         12288
                             2         10755
                             3            15
                             4            10
Kochi Tuskers Kerala         1          1009
                             2           892
Kolkata Knight Riders        1         10542
                             2         11397
                             3            26
Mumbai Indians               1         13387
                             2         11123
                             3            11
Pune Warriors                1          2973
                             2          3385
Rajasthan Royals             1          8470
                             2          9198
                             4            35
Rising Pune Supergiant       1          1304
                             2          1166
Rising Pune Supergiants      1          1123
                             2           940
Royal Challengers Bangalore  1         11705
                             2         11701
                             3            15
                             4            15
Sunrisers Hyderabad          1          7396
                             2          4236
                             3            20
Name: total_runs, dtype: int64

In [63]:
 # Which batting team has the highest average runs per match?

In [64]:
average_runs_per_match = df1.groupby('batting_team')['total_runs'].mean()

In [65]:
highest_average_runs_team = average_runs_per_match.idxmax()

In [66]:
highest_average_runs = average_runs_per_match.max()

In [67]:
highest_average_runs_team, highest_average_runs

('Gujarat Lions', 1.363432417274257)

In [68]:
# What is the total runs scored by each batsman?

In [69]:
total_runs_batsman = df1.groupby('batsman')['batsman_runs'].sum()

In [70]:
total_runs_batsman

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [71]:
# How does the average number of runs scored per inning vary across different bowling teams?

In [72]:
average_runs_against_bowling_team = df1.groupby('bowling_team')['total_runs'].mean()

In [73]:
average_runs_against_bowling_team

bowling_team
Chennai Super Kings            1.271687
Deccan Chargers                1.285319
Delhi Daredevils               1.306685
Gujarat Lions                  1.435825
Kings XI Punjab                1.337971
Kochi Tuskers Kerala           1.230483
Kolkata Knight Riders          1.265579
Mumbai Indians                 1.262514
Pune Warriors                  1.256551
Rajasthan Royals               1.265254
Rising Pune Supergiant         1.263485
Rising Pune Supergiants        1.308359
Royal Challengers Bangalore    1.318192
Sunrisers Hyderabad            1.289941
Name: total_runs, dtype: float64

In [74]:
# how is the relationship between the number of wides and the number of no balls bowled?

In [75]:
correlation_wides_noballs = df1[['wide_runs', 'noball_runs']].corr()

In [76]:
correlation_wides_noballs

             wide_runs  noball_runs
wide_runs     1.000000    -0.008703
noball_runs  -0.008703     1.000000

In [ ]:
# Interpretation:The number of wides and the number of no balls bowled generally show a positive correlation, indicating that teams with more wides tend to also bowl more no balls.

In [77]:
# Which batting team has the highest number of centuries?

In [78]:
batsman_match_runs = df1.groupby(['match_id', 'batting_team', 'batsman'])['batsman_runs'].sum()
centuries = batsman_match_runs[batsman_match_runs >= 100]
centuries_per_team = centuries.reset_index().groupby('batting_team')['batsman_runs'].count()

In [79]:
centuries_per_team

batting_team
Chennai Super Kings             5
Deccan Chargers                 2
Delhi Daredevils                7
Kings XI Punjab                 9
Kolkata Knight Riders           1
Mumbai Indians                  4
Rajasthan Royals                4
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Royal Challengers Bangalore    12
Sunrisers Hyderabad             1
Name: batsman_runs, dtype: int64

In [80]:
# How does the number of wides vary with the over number?

In [81]:
wides_per_over = df1.groupby('over')['wide_runs'].sum()

In [82]:
wides_per_over

over
1     481
2     442
3     359
4     295
5     279
6     307
7     330
8     261
9     255
10    227
11    182
12    220
13    241
14    224
15    248
16    254
17    264
18    271
19    264
20    238
Name: wide_runs, dtype: int64

In [83]:
# What is the average number of runs scored per inning in matches with a super over?

In [96]:
super_over_matches = df1[df1['over'] > 20]['match_id'].unique()
super_over_data = df1[df1['match_id'].isin(super_over_matches)]
total_runs_per_inning = super_over_data.groupby(['match_id', 'inning'])['total_runs'].sum()
average_runs_per_inning_super_over = total_runs_per_inning.mean()
print(f"Average runs per inning in matches with a super over: {average_runs_per_inning_super_over}")

Average runs per inning in matches with a super over: nan

In [87]:
# How does the number of extras vary with the over number?

In [88]:
extras_per_over = df1.groupby('over')['total_extras'].sum()

In [89]:
extras_per_over

over
1     768
2     730
3     629
4     562
5     495
6     582
7     553
8     465
9     459
10    437
11    379
12    395
13    451
14    426
15    425
16    458
17    548
18    531
19    527
20    565
Name: total_extras, dtype: int64

In [90]:
# Which bowler has the highest economy rate?

In [91]:
economy_rate = df1.groupby('bowler').apply(lambda x: x['total_runs'].sum() / x['over'].count())
highest_economy_bowler = economy_rate.idxmax()
highest_economy_rate = economy_rate.max()
highest_economy_bowler, highest_economy_rate

('I Malhotra', 3.8333333333333335)

In [92]:
# How does the number of dismissals vary across different dismissal kinds?

In [93]:
dismissal_variation = df1['dismissal_kind'].value_counts()
dismissal_variation

dismissal_kind
caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
retired hurt                9
hit wicket                  9
obstructing the field       1
Name: count, dtype: int64

In [94]:
# What is the distribution of runs scored by each batting team in super overs?

In [102]:
super_over_deliveries = df1[df1['over'] > 20]
super_over_runs_distribution = super_over_deliveries.groupby('batting_team')['total_runs'].sum()
print("Distribution of runs scored by each batting team in super overs:")
print(super_over_runs_distribution)

Distribution of runs scored by each batting team in super overs:
Series([], Name: total_runs, dtype: int64)