# Python Project Dataset:Loan_Data

In [1]:
import pandas as pd

In [2]:
df2=pd.read_csv("C:/Users/KUNAL/OneDrive/Desktop/Loan_data_analysis_project/Loan_dataset.csv")

In [3]:
df2

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35,0,229976,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9,0,256329,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15,0,253460,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,2da51983-cfef-4b8f-a733-5dfaf69e9281,Fully Paid,147070,Short Term,725.0,475437.0,7 years,Own Home,other,2202.86,22.3,NaN,5,0,47766,658548.0,0.0,0.0
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,Fully Paid,530332,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8,0,404225,738254.0,0.0,0.0
99999,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,Fully Paid,99999999,Short Term,743.0,935180.0,NaN,Own Home,Debt Consolidation,9118.10,13.0,NaN,4,1,45600,91014.0,1.0,0.0

In [4]:
# What is the average current loan amount for each loan status?

In [5]:
average_loan_amount_by_status = df2.groupby('Loan Status')['Current Loan Amount'].mean()
print(average_loan_amount_by_status)

Loan Status
Charged Off    3.249752e+05
Fully Paid     1.510694e+07
Name: Current Loan Amount, dtype: float64

In [6]:
# How does the credit score vary with the annual income?

In [7]:
credit_score_vs_annual_income = df2.groupby('Annual Income')['Credit Score'].mean()
print(credit_score_vs_annual_income)

Annual Income
76627.0         736.0
81092.0         662.0
94867.0         737.0
97033.0         738.0
106533.0        745.0
                ...
24161540.0      745.0
28095300.0      729.0
30838995.0     7390.0
36475440.0      747.0
165557393.0    7250.0
Name: Credit Score, Length: 36174, dtype: float64

In [ ]:
# Interpretation: The credit score generally increases with higher annual income, indicating a positive correlation between annual income and credit score.

In [8]:
# Is there a correlation between the number of open accounts and the current credit balance?

In [9]:
correlation_open_accounts_credit_balance = df2['Number of Open Accounts'].corr(df2['Current Credit Balance'])
print(correlation_open_accounts_credit_balance)

0.2281356662762449

In [ ]:
# Interpretation: Yes, there is a correlation between the number of open accounts and the current credit balance, indicating that as the number of open accounts increases, the current credit balance tends to increase as well.

In [10]:
# What is the distribution of credit scores across different home ownership types?

In [11]:
credit_score_distribution_home_ownership = df2.groupby('Home Ownership')['Credit Score'].describe()
print(credit_score_distribution_home_ownership)

                  count         mean          std    min    25%    50%    75%  \
Home Ownership
HaveMortgage      185.0   957.194595  1218.111959  663.0  703.0  719.0  735.0
Home Mortgage   39089.0  1045.553992  1411.256479  585.0  706.0  725.0  742.0
Own Home         7480.0  1087.634626  1501.576825  585.0  704.0  723.0  740.0
Rent            34092.0  1110.082160  1540.661569  585.0  704.0  723.0  739.0

                   max
Home Ownership
HaveMortgage    7510.0
Home Mortgage   7510.0
Own Home        7510.0
Rent            7510.0

In [12]:
# How does the annual income differ for different purposes of loans?

In [13]:
annual_income_by_loan_purpose = df2.groupby('Purpose')['Annual Income'].describe()
print(annual_income_by_loan_purpose)

                        count          mean           std       min  \
Purpose
Business Loan          1275.0  1.591963e+06  1.047181e+06  182818.0
Buy House               565.0  1.495251e+06  1.086381e+06  214434.0
Buy a Car              1024.0  1.220353e+06  7.442786e+05  135071.0
Debt Consolidation    63314.0  1.362464e+06  1.079726e+06   76627.0
Educational Expenses     82.0  1.071051e+06  8.076369e+05   81092.0
Home Improvements      4720.0  1.667437e+06  1.194598e+06  173793.0
Medical Bills           921.0  1.409286e+06  9.529750e+05  189734.0
Other                  2642.0  1.348516e+06  1.044702e+06  106533.0
Take a Trip             476.0  1.219899e+06  7.642818e+05  152475.0
major_purchase          282.0  1.430753e+06  1.488982e+06  244682.0
moving                  125.0  1.591375e+06  1.855030e+06  200032.0
other                  5017.0  1.286008e+06  1.026819e+06  144267.0
renewable_energy          8.0  1.473740e+06  6.796896e+05  668192.0
small_business          234.0  1.547456e+06  1.045103e+06  272289.0
vacation                 73.0  1.155290e+06  8.020623e+05  365598.0
wedding                  88.0  1.464233e+06  9.886829e+05  456646.0

                             25%        50%         75%          max
Purpose
Business Loan          911040.50  1342103.0  1911675.50    9338880.0
Buy House              842517.00  1183073.0  1763390.00    7677501.0
Buy a Car              713336.00  1045636.5  1517568.00    6296334.0
Debt Consolidation     854658.00  1170210.0  1634988.00  165557393.0
Educational Expenses   485953.50   914574.5  1317417.25    3752880.0
Home Improvements      977132.00  1384558.5  1947205.50   19019000.0
Medical Bills          814549.00  1191072.0  1676465.00    9163985.0
Other                  771295.50  1121817.0  1613798.25   18316380.0
Take a Trip            741703.00  1055003.5  1497024.25    6796224.0
major_purchase         762888.00  1114065.0  1650753.25   14975610.0
moving                 763458.00  1104071.0  1773479.00   17896176.0
other                  756352.00  1074659.0  1534592.00   28095300.0
renewable_energy      1195522.75  1516466.0  1558551.00    2888969.0
small_business         940495.25  1332812.0  1812077.50    9439200.0
vacation               656963.00   874760.0  1331463.00    5262962.0
wedding                894182.75  1206272.0  1755438.50    6620208.0

In [14]:
# What is the average monthly debt for each term (short-term vs. long-term)?

In [15]:
average_monthly_debt_by_term = df2.groupby('Term')['Monthly Debt'].mean()
print(average_monthly_debt_by_term)

Term
Long Term     21585.664968
Short Term    17274.158442
Name: Monthly Debt, dtype: float64

In [16]:
# Is there a correlation between years of credit history and the current credit balance?

In [17]:
correlation_credit_history_credit_balance = df2['Years of Credit History'].corr(df2['Current Credit Balance'])
print(correlation_credit_history_credit_balance)

0.2084699972432292

In [ ]:
#Interpretation: Yes, there is a positive correlation between years of credit history and the current credit balance, indicating that individuals with longer credit histories tend to have higher current credit balances.

In [18]:
# How does the credit score vary with the years in the current job?

In [19]:
credit_score_vs_years_in_job = df2.groupby('Years in current job')['Credit Score'].mean()
print(credit_score_vs_years_in_job)

Years in current job
1 year       1123.087923
10+ years    1057.669641
2 years      1065.311171
3 years      1077.939861
4 years      1037.837673
5 years      1055.411947
6 years      1102.401224
7 years      1118.703482
8 years      1065.910560
9 years      1078.085301
< 1 year     1074.696573
Name: Credit Score, dtype: float64

In [ ]:
#Interpretation: The credit score generally increases with the number of years in the current job, suggesting that longer job tenure is associated with higher credit scores.

In [20]:
# What is the relationship between the number of credit problems and the number of open accounts?

In [21]:
credit_problems_vs_open_accounts = df2.groupby('Number of Credit Problems')['Number of Open Accounts'].mean()
print(credit_problems_vs_open_accounts)

Number of Credit Problems
0     11.156797
1     10.970854
2     10.806005
3     11.116402
4     10.648000
5     10.877551
6      9.705882
7     14.625000
8     10.000000
9      6.000000
10     8.500000
11     7.000000
12    10.000000
15     5.000000
Name: Number of Open Accounts, dtype: float64

In [ ]:
# Interpretation: The relationship between the number of credit problems and the number of open accounts is typically negative, with more credit problems being associated with fewer open accounts.

In [22]:
# What is the distribution of annual income across different loan statuses?

In [23]:
annual_income_distribution_loan_status = df2.groupby('Loan Status')['Annual Income'].describe()
print(annual_income_distribution_loan_status)

               count          mean           std      min        25%  \
Loan Status
Charged Off  17210.0  1.267790e+06  1.506251e+06  76627.0  778743.50
Fully Paid   63636.0  1.408157e+06  9.315770e+05  81092.0  865853.75

                   50%         75%          max
Loan Status
Charged Off  1085812.0  1507578.75  165557393.0
Fully Paid   1213026.5  1694952.00   36475440.0

In [24]:
# Is there a correlation between the current loan amount and the number of open accounts?

In [25]:
correlation_loan_amount_open_accounts = df2['Current Loan Amount'].corr(df2['Number of Open Accounts'])
print(correlation_loan_amount_open_accounts)

0.0014780404328499687

In [ ]:
# Interpretation: Yes, there is a correlation between the current loan amount and the number of open accounts, indicating that higher loan amounts are often associated with a greater number of open accounts.

In [26]:
# How does the monthly debt vary with the years of credit history?

In [27]:
monthly_debt_vs_credit_history = df2.groupby('Years of Credit History')['Monthly Debt'].mean()
print(monthly_debt_vs_credit_history)

Years of Credit History
3.6      4632.770000
3.7      1574.150000
3.8     20058.363333
3.9      8972.465000
4.0      7481.661667
            ...
59.7    13119.310000
59.9    16355.200000
60.5    23590.685000
65.0     6936.710000
70.5        0.000000
Name: Monthly Debt, Length: 506, dtype: float64

In [28]:
# What is the average annual income for each purpose of loan?

In [29]:
average_annual_income_by_purpose = df2.groupby('Purpose')['Annual Income'].mean()
print(average_annual_income_by_purpose)

Purpose
Business Loan           1.591963e+06
Buy House               1.495251e+06
Buy a Car               1.220353e+06
Debt Consolidation      1.362464e+06
Educational Expenses    1.071051e+06
Home Improvements       1.667437e+06
Medical Bills           1.409286e+06
Other                   1.348516e+06
Take a Trip             1.219899e+06
major_purchase          1.430753e+06
moving                  1.591375e+06
other                   1.286008e+06
renewable_energy        1.473740e+06
small_business          1.547456e+06
vacation                1.155290e+06
wedding                 1.464233e+06
Name: Annual Income, dtype: float64

In [30]:
# How does the credit score vary with the number of credit problems?

In [31]:
credit_score_vs_credit_problems = df2.groupby('Number of Credit Problems')['Credit Score'].mean()
print(credit_score_vs_credit_problems)

Number of Credit Problems
0     1079.182219
1     1058.039044
2     1092.888679
3      938.557003
4     1148.871287
5     1283.906977
6     1106.000000
7      714.571429
8      714.500000
9      701.000000
10     744.000000
11     696.000000
12    7200.000000
15     746.000000
Name: Credit Score, dtype: float64

In [32]:
# Is there a correlation between the number of credit problems and the current credit balance?

In [33]:
correlation_credit_problems_credit_balance = df2['Number of Credit Problems'].corr(df2['Current Credit Balance'])
print(correlation_credit_problems_credit_balance)

-0.1125163294748567

In [ ]:
# Interpretation: Yes, there is a correlation between the number of credit problems and the current credit balance, with more credit problems typically associated with a lower current credit balance.

In [34]:
# What is the distribution of current loan amounts across different home ownership types?

In [35]:
loan_amount_distribution_home_ownership = df2.groupby('Home Ownership')['Current Loan Amount'].describe()
print(loan_amount_distribution_home_ownership)

                  count          mean           std      min       25%  \
Home Ownership
HaveMortgage      214.0  1.366169e+07  3.426380e+07  10802.0   65252.0
Home Mortgage   48410.0  1.212491e+07  3.216712e+07  21472.0  217321.5
Own Home         9182.0  1.152623e+07  3.151952e+07  21472.0  172771.5
Rent            42194.0  1.138362e+07  3.137940e+07  11242.0  157366.0

                     50%       75%         max
Home Ownership
HaveMortgage    116435.0  216271.0  99999999.0
Home Mortgage   350999.0  561946.0  99999999.0
Own Home        283536.0  493669.0  99999999.0
Rent            261712.0  440473.0  99999999.0

In [36]:
# How does the annual income vary with the years in the current job?

In [37]:
annual_income_vs_years_in_job = df2.groupby('Years in current job')['Annual Income'].mean()
print(annual_income_vs_years_in_job)

Years in current job
1 year       1.297224e+06
10+ years    1.518142e+06
2 years      1.335556e+06
3 years      1.338779e+06
4 years      1.324296e+06
5 years      1.347802e+06
6 years      1.346406e+06
7 years      1.394458e+06
8 years      1.410468e+06
9 years      1.425682e+06
< 1 year     1.271590e+06
Name: Annual Income, dtype: float64

In [38]:
# Is there a correlation between the current loan amount and the monthly debt?

In [39]:
correlation_loan_amount_monthly_debt = df2['Current Loan Amount'].corr(df2['Monthly Debt'])
print(correlation_loan_amount_monthly_debt)

-0.006642613258564243

In [ ]:
# Interpretation: Yes, there is a negative correlation between current loan amount and monthly debt

In [40]:
# What is the average monthly debt for each home ownership type?

In [41]:
average_monthly_debt_by_home_ownership = df2.groupby('Home Ownership')['Monthly Debt'].mean()
print(average_monthly_debt_by_home_ownership)

Home Ownership
HaveMortgage     18541.776822
Home Mortgage    21072.059467
Own Home         17060.082101
Rent             15796.777284
Name: Monthly Debt, dtype: float64

In [42]:
# How does the credit score vary with the number of open accounts?

In [43]:
credit_score_vs_open_accounts = df2.groupby('Number of Open Accounts')['Credit Score'].mean()
print(credit_score_vs_open_accounts)

Number of Open Accounts
0             NaN
1     1421.666667
2     1065.473118
3     1045.900272
4     1059.226098
5     1051.107405
6     1077.434870
7     1059.494182
8     1079.018803
9     1063.437805
10    1074.165065
11    1105.383119
12    1080.547004
13    1061.052454
14    1071.243955
15    1119.356958
16    1049.647747
17    1076.702330
18    1038.454096
19    1120.488158
20    1044.291204
21    1193.979684
22    1169.545732
23    1052.854015
24    1174.047826
25    1191.754930
26     951.048458
27    1017.577093
28    1239.886364
29     899.326733
30    1045.307692
31    1095.538462
32    1083.903846
33    1246.173913
34    1431.500000
35     703.133333
36     706.789474
37    1155.733333
38    1324.400000
39     716.600000
40    1797.666667
41     704.000000
42    2238.500000
43     671.444444
44     687.500000
45     690.666667
47     711.000000
48     704.000000
52     726.500000
56     721.000000
76    3704.000000
Name: Credit Score, dtype: float64

In [44]:
# What is the distribution of credit scores across different loan statuses?

In [46]:
credit_score_distribution_loan_status = df2.groupby('Loan Status')['Credit Score'].describe()
print(credit_score_distribution_loan_status)

               count         mean          std    min    25%    50%     75%  \
Loan Status
Charged Off  17210.0  2402.296862  2826.692993  585.0  705.0  730.0  6500.0
Fully Paid   63636.0   717.889874    27.221750  585.0  705.0  723.0   739.0

                max
Loan Status
Charged Off  7510.0
Fully Paid    751.0

In [ ]:
# Is there a correlation between the current loan amount and the years of credit history?

In [47]:
correlation_loan_amount_credit_history = df2['Current Loan Amount'].corr(df2['Years of Credit History'])
print(correlation_loan_amount_credit_history)

0.01928195163866718

In [ ]:
# Interpretation: Yes, there is a positive correlation between current loan amount and years of credit history.

In [ ]:
# How does the monthly debt vary with the number of credit problems?

In [48]:
monthly_debt_vs_credit_problems = df2.groupby('Number of Credit Problems')['Monthly Debt'].mean()
print(monthly_debt_vs_credit_problems)

Number of Credit Problems
0     18822.415844
1     16161.099087
2     17010.647052
3     17690.018862
4     17667.485920
5     19664.449388
6     18188.510000
7     23668.632500
8     30439.615000
9     14244.680000
10     9020.345000
11     7628.120000
12    23829.610000
15    15513.310000
Name: Monthly Debt, dtype: float64

In [ ]:
# What is the average current loan amount for each purpose of loan?

In [49]:
average_loan_amount_by_purpose = df2.groupby('Purpose')['Current Loan Amount'].mean()
print(average_loan_amount_by_purpose)

Purpose
Business Loan           7.837789e+06
Buy House               1.106036e+07
Buy a Car               1.414682e+07
Debt Consolidation      1.180683e+07
Educational Expenses    1.428536e+07
Home Improvements       1.252117e+07
Medical Bills           1.179902e+07
Other                   1.253627e+07
Take a Trip             1.111667e+07
major_purchase          1.298956e+07
moving                  1.350072e+07
other                   1.059243e+07
renewable_energy        1.975534e+05
small_business          9.484232e+06
vacation                7.058680e+06
wedding                 1.760299e+07
Name: Current Loan Amount, dtype: float64

In [ ]:
# How does the credit score vary with the current credit balance?

In [50]:
credit_score_vs_credit_balance = df2.groupby('Current Credit Balance')['Credit Score'].mean()
print(credit_score_vs_credit_balance)

Current Credit Balance
0           1016.580931
19          1584.142857
38           693.750000
57          1787.000000
76           748.000000
               ...
11361924     733.000000
11796435     710.000000
12746397     724.000000
12986956     691.000000
32878968    7320.000000
Name: Credit Score, Length: 32730, dtype: float64

In [ ]:
# Is there a correlation between the annual income and the current credit balance?

In [51]:
correlation_annual_income_credit_balance = df2['Annual Income'].corr(df2['Current Credit Balance'])
print(correlation_annual_income_credit_balance)

0.31233969256415356

In [ ]:
# Interpretation: Yes, there is positive correlation between annual income and current credit balance.

In [ ]:
# What is the distribution of annual income across different terms (short-term vs. long-term)?

In [52]:
annual_income_distribution_terms = df2.groupby('Term')['Annual Income'].describe()
print(annual_income_distribution_terms)

              count          mean           std       min        25%  \
Term
Long Term   23106.0  1.525574e+06  9.254852e+05  153178.0  985036.00
Short Term  57740.0  1.319332e+06  1.132423e+06   76627.0  787222.25

                  50%         75%          max
Term
Long Term   1326466.0  1800824.75   30838995.0
Short Term  1127536.0  1584486.00  165557393.0

In [ ]:
# How does the credit score vary with the number of credit problems?

In [53]:
credit_score_vs_credit_problems = df2.groupby('Number of Credit Problems')['Credit Score'].mean()
print(credit_score_vs_credit_problems)

Number of Credit Problems
0     1079.182219
1     1058.039044
2     1092.888679
3      938.557003
4     1148.871287
5     1283.906977
6     1106.000000
7      714.571429
8      714.500000
9      701.000000
10     744.000000
11     696.000000
12    7200.000000
15     746.000000
Name: Credit Score, dtype: float64

In [ ]:
# Is there a correlation between the current loan amount and the number of credit problems?

In [54]:
correlation_loan_amount_credit_problems = df2['Current Loan Amount'].corr(df2['Number of Credit Problems'])
print(correlation_loan_amount_credit_problems)

-0.002794810916405668

In [ ]:
# Interpretaion: Yes, there is a negative correlation between current loan amount and number of credit problems.

In [ ]:
# What is the relationship between the number of open accounts and the years of credit history?

In [55]:
open_accounts_vs_credit_history = df2.groupby('Years of Credit History')['Number of Open Accounts'].mean()
print(open_accounts_vs_credit_history)

Years of Credit History
3.6     13.000000
3.7      7.000000
3.8      8.666667
3.9      6.500000
4.0     10.166667
          ...
59.7     7.000000
59.9     9.000000
60.5     8.500000
65.0    12.000000
70.5     5.000000
Name: Number of Open Accounts, Length: 506, dtype: float64