# Python Project Dataset:Corono_virus

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/KUNAL/OneDrive/Desktop/Corona_virus_analyst_project/covid_19_data.csv")

In [3]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [ ]:
# What is the total number of confirmed cases worldwide?

In [5]:
total_confirmed = df['Confirmed'].sum()

In [6]:
total_confirmed

26252051758.0

In [ ]:
# How many deaths have been reported globally?

In [9]:
total_deaths = df['Deaths'].sum()

In [10]:
total_deaths

624013017.0

In [ ]:
# What is the total number of recovered cases worldwide?

In [11]:
total_recovered = df['Recovered'].sum()

In [12]:
total_recovered

15450237912.0

In [ ]:
# How many countries/regions are represented in the dataset?

In [14]:
num_countries = df['Country/Region'].count()

In [15]:
num_countries

306429

In [ ]:
# What is the trend of confirmed cases over time globally?

In [16]:
trend_confirmed = df.groupby('ObservationDate')['Confirmed'].sum().reset_index()

In [17]:
trend_confirmed

    ObservationDate   Confirmed
0        01/01/2021  84092619.0
1        01/02/2021  84718978.0
2        01/03/2021  85251774.0
3        01/04/2021  85805892.0
4        01/05/2021  86546014.0
..              ...         ...
489      12/27/2020  80912611.0
490      12/28/2020  81408934.0
491      12/29/2020  82073362.0
492      12/30/2020  82834592.0
493      12/31/2020  83559601.0

[494 rows x 2 columns]

In [ ]:
# Interpretaion: The data shows a steady increase in confirmed cases over time.

In [ ]:
# Which province/state has reported the highest number of confirmed cases?

In [20]:
highest_confirmed_province = df.groupby('Province/State')['Confirmed'].sum().idxmax()

In [21]:
highest_confirmed_province

'California'

In [ ]:
# Which country/region has the highest number of deaths?

In [22]:
highest_deaths_country = df.groupby('Country/Region')['Deaths'].sum().idxmax()

In [23]:
highest_deaths_country

'US'

In [ ]:
# How does the number of confirmed cases vary across different provinces/states?

In [25]:
confirmed_cases_by_province = df.groupby('Province/State')['Confirmed'].sum().sort_values(ascending=False)

In [26]:
confirmed_cases_by_province

Province/State
California               696898013.0
Maharashtra              681186928.0
England                  666227518.0
Texas                    552039886.0
Sao Paulo                521308945.0
                            ...
American Samoa                   0.0
Jervis Bay Territory             0.0
Recovered                        0.0
Montgomery County, TX            0.0
External territories             0.0
Name: Confirmed, Length: 736, dtype: float64

In [ ]:
# Interpretation: The number of confirmed cases varies significantly across different provinces/states.

In [ ]:
# What is the trend of deaths over time globally?

In [27]:
trend_deaths = df.groupby('ObservationDate')['Deaths'].sum().reset_index()

In [34]:
trend_deaths.head()

  ObservationDate     Deaths
0      01/01/2021  1834675.0
1      01/02/2021  1843108.0
2      01/03/2021  1850449.0
3      01/04/2021  1860598.0
4      01/05/2021  1875953.0

In [ ]:
# Interpretation: The trend of deaths over time globally shows a steady increase, indicating the ongoing and rising impact of the COVID-19 pandemic.

In [ ]:
# Which country/region has the highest number of recovered cases?

In [29]:
highest_recovered_country = df.groupby('Country/Region')['Recovered'].sum().idxmax()

In [30]:
highest_recovered_country

'India'

In [ ]:
# How does the number of recovered cases vary across different countries/regions?

In [31]:
recovered_cases_by_country = df.groupby('Country/Region')['Recovered'].sum().sort_values(ascending=False)

In [33]:
recovered_cases_by_country.head()

Country/Region
India     2.900590e+09
Brazil    2.313677e+09
Russia    7.907057e+08
Turkey    5.641706e+08
US        5.033710e+08
Name: Recovered, dtype: float64

In [ ]:
# Interpretation : The number of recovered cases varies significantly across different countries/regions, with some countries like the United States, India, and Brazil reporting the highest recovery numbers, reflecting their extensive outbreaks and recovery efforts.

In [ ]:
# What is the distribution of confirmed cases by country/region?

In [35]:
confirmed_cases_by_country = df.groupby('Country/Region')['Confirmed'].sum().sort_values(ascending=False)

In [36]:
confirmed_cases_by_country

Country/Region
US                       6.049146e+09
India                    3.226768e+09
Brazil                   2.653588e+09
Russia                   9.305488e+08
France                   8.551890e+08
                             ...
Cape Verde               1.000000e+00
The Gambia               1.000000e+00
Republic of the Congo    1.000000e+00
 Azerbaijan              1.000000e+00
China                    0.000000e+00
Name: Confirmed, Length: 229, dtype: float64

In [ ]:
# Interpretation : The distribution of confirmed cases by country/region is highly uneven, with countries such as the United States, India, and Brazil having the highest numbers, indicating they are major centers of the pandemic.

In [ ]:
# Is there a correlation between the number of confirmed cases and deaths?

In [42]:
correlation_confirmed_deaths = df[['Confirmed', 'Deaths']].corr().iloc[0,1]

In [43]:
correlation_confirmed_deaths

0.8884159872096549

In [ ]:
# Interpretation : Yes, there is a positive correlation between the number of confirmed cases and deaths, suggesting that regions with higher confirmed cases also tend to have higher death counts.

In [ ]:
# Is there a correlation between the number of confirmed cases and recovered cases?

In [44]:
correlation_confirmed_recovered = df[['Confirmed', 'Recovered']].corr().iloc[0, 1]

In [45]:
correlation_confirmed_recovered

0.6334793001461968

In [ ]:
# Interpretation : Yes, there is a positive correlation between the number of confirmed cases and recovered cases, indicating that regions with more confirmed cases also tend to report more recoveries

In [ ]:
# How does the mortality rate vary across different countries/regions?

In [46]:
mortality_rate_by_country = (df.groupby('Country/Region')['Deaths'].sum() / df.groupby('Country/Region')['Confirmed'].sum()).sort_values(ascending=False)

In [47]:
mortality_rate_by_country

Country/Region
Yemen                             0.246982
MS Zaandam                        0.221757
Vanuatu                           0.096059
Mexico                            0.093396
Sudan                             0.064030
                                    ...
Macau                             0.000000
('St. Martin',)                   0.000000
Kiribati                          0.000000
occupied Palestinian territory    0.000000
China                                  NaN
Length: 229, dtype: float64

In [ ]:
# Interpretation: The mortality rate varies significantly across different countries/regions, reflecting disparities in healthcare systems, demographic factors, and the effectiveness of pandemic response measures.

In [ ]:
# How does the recovery rate vary across different countries/regions?

In [48]:
recovery_rate_by_country = (df.groupby('Country/Region')['Recovered'].sum() / df.groupby('Country/Region')['Confirmed'].sum()).sort_values(ascending=False)

In [49]:
recovery_rate_by_country

Country/Region
Uzbekistan                        0.947230
Ghana                             0.942344
Diamond Princess                  0.940392
Micronesia                        0.937984
Iceland                           0.937645
                                    ...
Republic of Ireland               0.000000
Republic of the Congo             0.000000
Reunion                           0.000000
occupied Palestinian territory    0.000000
China                                  NaN
Length: 229, dtype: float64

In [ ]:
# Interpretation : The recovery rate varies widely across different countries/regions, indicating differences in healthcare quality, availability of medical resources, and the overall effectiveness of treatment protocols.

In [ ]:
# What is the trend of new confirmed cases over time globally?

In [50]:
df['New Confirmed'] = df.groupby('Country/Region')['Confirmed'].diff().fillna(0)

In [51]:
trend_new_confirmed = df.groupby('ObservationDate')['New Confirmed'].sum().reset_index()

In [52]:
trend_new_confirmed

    ObservationDate  New Confirmed
0        01/01/2021       153931.0
1        01/02/2021       127372.0
2        01/03/2021       129318.0
3        01/04/2021       151641.0
4        01/05/2021       187574.0
..              ...            ...
489      12/27/2020       116345.0
490      12/28/2020       130998.0
491      12/29/2020       171001.0
492      12/30/2020       218340.0
493      12/31/2020       202332.0

[494 rows x 2 columns]

In [ ]:
# Interpretation : The trend of new confirmed cases over time globally shows fluctuations, reflecting the dynamic nature of the pandemic with periods of increase and decrease influenced by factors such as public health measures, virus variants, and vaccination rates.

In [ ]:
# How does the fatality rate vary across different provinces/states?

In [53]:
fatality_rate_by_province = (df.groupby('Province/State')['Deaths'].sum() / df.groupby('Province/State')['Confirmed'].sum()).sort_values(ascending=False)

In [54]:
fatality_rate_by_province

Province/State
Unknown                  0.544275
Santa Rosa County, FL    0.400000
Lee County, FL           0.333333
King County, WA          0.220874
Placer County, CA        0.214286
                           ...
American Samoa                NaN
External territories          NaN
Jervis Bay Territory          NaN
Montgomery County, TX         NaN
Recovered                     NaN
Length: 736, dtype: float64

In [ ]:
# Interpretation : The fatality rate varies across different provinces/states, highlighting regional disparities in healthcare quality, population demographics, and the severity of local outbreaks.

In [ ]:
# How does the recovery rate vary across different provinces/states?

In [55]:
recovery_rate_by_province = (df.groupby('Province/State')['Recovered'].sum() / df.groupby('Province/State')['Confirmed'].sum()).sort_values(ascending=False)

In [56]:
recovery_rate_by_province

Province/State
Recovered                                              inf
US                                              133.000000
Unknown                                          79.377353
Repatriated Travellers                            1.000000
Saint Helena, Ascension and Tristan da Cunha      0.978458
                                                   ...
Zuid-Holland                                      0.000000
American Samoa                                         NaN
External territories                                   NaN
Jervis Bay Territory                                   NaN
Montgomery County, TX                                  NaN
Length: 736, dtype: float64

In [ ]:
# Interpretation: The recovery rate varies across different provinces/states, reflecting differences in healthcare capabilities, the effectiveness of local medical interventions, and the severity of COVID-19 outbreaks in each area.

In [ ]:
# What is the trend of active cases over time globally?

In [57]:
df['Active Cases'] = df['Confirmed'] - df['Deaths'] - df['Recovered']

In [58]:
trend_active_cases = df.groupby('ObservationDate')['Active Cases'].sum().reset_index()

In [59]:
trend_active_cases

    ObservationDate  Active Cases
0        01/01/2021    34944939.0
1        01/02/2021    35261573.0
2        01/03/2021    35518546.0
3        01/04/2021    35772107.0
4        01/05/2021    36181513.0
..              ...           ...
489      12/27/2020    33423242.0
490      12/28/2020    33611383.0
491      12/29/2020    33907345.0
492      12/30/2020    34265273.0
493      12/31/2020    34701962.0

[494 rows x 2 columns]

In [ ]:
# Interpretation: The trend of active cases over time globally shows periods of increase and decrease, reflecting ongoing changes in infection rates, recoveries, and deaths as the pandemic progresses and public health measures are implemented.